*,
*:before,
*:after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Segoe UI', Arial, Helvetica, sans-serif;
}
table,
tr,
td {
	padding: 2px;
	border: 1px solid white;
}
